@{
    ViewData["Title"] = "Kurs Kayıt Onayı";//to show a message
}

<div class="alert-signing-success" role="alert">
    <h4 class="alert-heading">Kurs Kaydı Başarılı! </h4>
    <p>Kurs başvurunuz başarıyla alınmıştır. Kurs detayları, ders saatleri ve başlangıç tarihi bilgileri e-posta adresinize gönderilecektir.</p>
    <hr>
    <p class="mb-0">Kayıt kontenjan durumu ve sınıfınızla ilgili bildirimleri sistem üzerinden takip edebilirsiniz.</p>
</div>

<div class="mt-4">
        <a asp-controller="Home" asp-action="Index" class="btn btn-ana-sayfa-turuncu">Ana Sayfaya Geri Dön</a>
    
<a asp-action="Listing" class="btn btn-goster-gri">Tüm Kursları Görüntüle</a></div>